# Executables / Objects
*.exe*
*.o
*.a

# Local configurations
.vscode

# My drafts
.drafts
.backup

# Flex/bison temp files
lex.yy.*

# FlexC++ temp files
lex.cc
Scanner*.h

# Database files
*.db