# Executables / Objects
*.exe*
*.o
*.a
*.gch

# Local configurations
.vscode

# My drafts
.drafts
.backup
.principle

# Flex/bison temp files
lex.yy.*

# FlexC++ temp files
lex.cc
Scanner*.h

# Database files
*.db*